<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="/markdown/github.css">
	<script src="/markdown/highlight.pack.js"></script>
	<script>hljs.initHighlightingOnLoad();</script>
	<title>Source - <%= path %></title>
</head>
<body>

<div id="main">

<h4>
	Source File: <code><%= path %></code>
</h4>

<pre><code class="lang-coffeescript">
<%= body %>
</code></pre>

</div>

</body>
</html>
