<!DOCTYPE html>
<html>
<head>
	<script src="/markdown/sh/shCore.js"></script>
	<script src="/markdown/sh/brushes.js"></script>
	<link rel="stylesheet" href="/markdown/sh/shCoreDefault.css">

	<link rel="stylesheet" href="/markdown/default.css">
	<title>Source - <%= path %></title>
</head>
<body>

<div id="main">

<h4>
	Source File: <code><%= path %></code>
</h4>

<pre><code class="lang-coffeescript">
<%= body %>
</code></pre>

</div>

<script type="text/javascript">
	var el = document.querySelector('pre code[class]');
	var lang = el.getAttribute('class').replace('lang-', '');
	el.parentElement.setAttribute('class', 'brush: ' + lang + '; highlight: ' + location.hash.replace('#L', ''));
	el.parentElement.innerHTML = el.innerHTML;

	SyntaxHighlighter.all();

	window.addEventListener('load', function () {
		setTimeout(function () {
			document.querySelector('.highlighted').scrollIntoView();
		}, 0);
	});

</script>

</body>
</html>
