<!DOCTYPE html>
<html>
<head>
	<title>Nobone</title>
	<link rel="stylesheet" type="text/css" href="/sample.css">
</head>
<body>
	<%- auto_reload %>
	<script type="text/javascript" src="/sample.js"></script>
</body>
</html>
