<!DOCTYPE html>
<html>
<head>
	<title><%= name %></title>
	<link rel="stylesheet" type="text/css" href="/default.css">
</head>
<body>

<script type="text/javascript" src="/main.js"></script>
<script type="text/javascript" src="/bundle.jsb"></script>

</body>
</html>
